body {
  background-color: #fdd1ea;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.adritrio {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1190px;
}

.square {
  background-color: #ffaaf4;
  width: 15px;
  height: 15px;
  margin: 2px;
  box-shadow: 0px 0px 4px;
  transition: 2s ease;
  box-sizing: border-box;
}

.square:hover {
  transition-duration: 0s;
}

.fastheart {
  height: 70px;
  width: 70px;
  background-color: #f20044;
  transform: rotate(-45deg);
  position: relative;
  box-shadow: -10px 10px 90px #f20044;
  animation: fastheart 0.6s linear infinite;
}

.fastheart::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  border-radius: 50px;
  top: -50%;
  box-shadow: -10px -10px 90px #f20044;
}

.fastheart::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #f20044;
  border-radius: 50px;
  right: -50%;
  box-shadow: 10px 10px 90px #f20044;
}

.arrow {
  position: absolute;
  margin-left: 100px;
  top: 10%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid white;
  border-right: 1vmin solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}

.arrow.left {
  left: 0;
  transform: translate3d(0, 0, 0) rotate(-135deg);
}

.arrow:hover {
  border-color: #ffaaf4;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}

.arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.main {
  display: flex;
  flex-direction: column;
}

.container-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.links {
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.links:hover {
  background-color: #ffaaf4;
  color: white;
  transition: 0.5s;
  box-shadow: 10px 5px 5px red;
}

.links:not(:hover) {
  transition: 0.5s;
}

.text1,
.text1-1 {
  width: 86ch;
  left: 10%;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid red;
  animation: flash 0.75s ease infinite, printent-text 15s steps(86);
}

.text2,
.text2-1 {
  width: 68ch;
  animation: flash 0.75s ease infinite, printent-text 15s steps(68);
  left: 10%;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid red;
}

.text3,
.text3-1 {
  width: 70ch;
  animation: flash 0.75s ease infinite, printent-text 15s steps(70);
  left: 10%;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid red;
}

.text4,
.text4-1 {
  width: 74ch;
  animation: flash 0.75s ease infinite, printent-text 15s steps(74);
  left: 10%;
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid red;
}

.text1,
.text2,
.text3,
.text4 {
  top: 55%;
}

.text1-1,
.text2-1,
.text3-1,
.text4-1 {
  top: 60%;
}

@keyframes printent-text {
  from {
    width: 0;
  }
}

@keyframes flash {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}

@keyframes fastheart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

@keyframes showimage {
  0% {
    background-color: #ffaaf4;
  }
  10% {
    background-color: #ffaaf4;
  }
  50% {
    background-color: white;
  }
  70% {
    background-color: white;
  }
  100% {
    background-color: #ffaaf4;
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(2);
  }
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.squareBox378,
.squareBox379,
.squareBox440,
.squareBox441,
.squareBox380,
.squareBox381,
.squareBox442,
.squareBox443,
.squareBox382,
.squareBox383,
.squareBox444,
.squareBox445,
.squareBox384,
.squareBox385,
.squareBox446,
.squareBox447,
.squareBox386,
.squareBox387,
.squareBox448,
.squareBox449,
.squareBox388,
.squareBox389,
.squareBox450,
.squareBox451,
.squareBox507,
.squareBox508,
.squareBox569,
.squareBox570,
.squareBox506,
.squareBox509,
.squareBox631,
.squareBox632,
.squareBox693,
.squareBox694,
.squareBox755,
.squareBox756,
.squareBox817,
.squareBox818,
.squareBox879,
.squareBox880,
.squareBox941,
.squareBox942,
.squareBox1003,
.squareBox1004,
.squareBox1065,
.squareBox1066,
.squareBox1127,
.squareBox1128,
.squareBox1189,
.squareBox1190,
.squareBox1251,
.squareBox1252,
.squareBox1313,
.squareBox1314,
.squareBox1375,
.squareBox1376,
.squareBox1437,
.squareBox1438,
.squareBox1499,
.squareBox1500,
.squareBox1561,
.squareBox1562,
.squareBox1623,
.squareBox1624,
.squareBox1685,
.squareBox1686,
.squareBox1684,
.squareBox1687,
.squareBox1747,
.squareBox1748,
.squareBox1809,
.squareBox1810,
.squareBox1746,
.squareBox1745,
.squareBox1808,
.squareBox1807,
.squareBox1744,
.squareBox1743,
.squareBox1742,
.squareBox1806,
.squareBox1805,
.squareBox1804,
.squareBox1749,
.squareBox1750,
.squareBox1811,
.squareBox1812,
.squareBox1751,
.squareBox1752,
.squareBox1753,
.squareBox1813,
.squareBox1814,
.squareBox1815,
.squareBox428,
.squareBox427,
.squareBox490,
.squareBox489,
.squareBox552,
.squareBox551,
.squareBox614,
.squareBox613,
.squareBox676,
.squareBox675,
.squareBox738,
.squareBox737,
.squareBox800,
.squareBox799,
.squareBox861,
.squareBox862,
.squareBox924,
.squareBox923,
.squareBox986,
.squareBox985,
.squareBox1048,
.squareBox1047,
.squareBox1110,
.squareBox1109,
.squareBox1172,
.squareBox1171,
.squareBox1234,
.squareBox1233,
.squareBox1296,
.squareBox1295,
.squareBox1358,
.squareBox1357,
.squareBox1420,
.squareBox1419,
.squareBox1482,
.squareBox1481,
.squareBox1543,
.squareBox1542,
.squareBox1605,
.squareBox1604,
.squareBox1666,
.squareBox1665,
.squareBox1728,
.squareBox1727,
.squareBox1789,
.squareBox1788,
.squareBox1851,
.squareBox1850,
.squareBox1787,
.squareBox1786,
.squareBox1849,
.squareBox1848,
.squareBox1785,
.squareBox1784,
.squareBox1847,
.squareBox1846,
.squareBox1783,
.squareBox1782,
.squareBox1845,
.squareBox1844,
.squareBox1781,
.squareBox1780,
.squareBox1843,
.squareBox1842,
.squareBox1718,
.squareBox1717,
.squareBox1656,
.squareBox1655,
.squareBox1593,
.squareBox1592,
.squareBox1531,
.squareBox1530,
.squareBox1468,
.squareBox1467,
.squareBox1406,
.squareBox1405,
.squareBox1344,
.squareBox1343,
.squareBox1282,
.squareBox1281,
.squareBox1220,
.squareBox1219,
.squareBox1158,
.squareBox1157,
.squareBox1096,
.squareBox1095,
.squareBox1034,
.squareBox1033,
.squareBox972,
.squareBox971,
.squareBox910,
.squareBox909,
.squareBox848,
.squareBox847,
.squareBox786,
.squareBox785,
.squareBox724,
.squareBox723,
.squareBox662,
.squareBox661,
.squareBox600,
.squareBox599,
.squareBox538,
.squareBox537,
.squareBox476,
.squareBox475,
.squareBox414,
.squareBox413,
.squareBox396,
.squareBox397,
.squareBox458,
.squareBox459,
.squareBox520,
.squareBox521,
.squareBox582,
.squareBox583,
.squareBox645,
.squareBox644,
.squareBox706,
.squareBox707,
.squareBox768,
.squareBox769,
.squareBox830,
.squareBox831,
.squareBox892,
.squareBox893,
.squareBox954,
.squareBox955,
.squareBox1016,
.squareBox1017,
.squareBox1078,
.squareBox1079,
.squareBox1140,
.squareBox1141,
.squareBox1202,
.squareBox1203,
.squareBox1264,
.squareBox1265,
.squareBox1326,
.squareBox1327,
.squareBox1388,
.squareBox1389,
.squareBox1450,
.squareBox1451,
.squareBox1512,
.squareBox1513,
.squareBox1574,
.squareBox1575,
.squareBox1636,
.squareBox1637,
.squareBox1698,
.squareBox1699,
.squareBox1700,
.squareBox1760,
.squareBox1761,
.squareBox1822,
.squareBox1823,
.squareBox1762,
.squareBox1763,
.squareBox1824,
.squareBox1825,
.squareBox1764,
.squareBox1765,
.squareBox1826,
.squareBox1827,
.squareBox1766,
.squareBox1767,
.squareBox1828,
.squareBox1829,
.squareBox1768,
.squareBox1769,
.squareBox1830,
.squareBox1831,
.squareBox1770,
.squareBox1771,
.squareBox1832,
.squareBox1833 {
  animation: showimage 6s ease infinite;
}

.squareBox397,
.squareBox396,
.squareBox460,
.squareBox461,
.squareBox524,
.squareBox525,
.squareBox588,
.squareBox651,
.squareBox590,
.squareBox529,
.squareBox530,
.squareBox469,
.squareBox470,
.squareBox409,
.squareBox410,
.squareBox333,
.squareBox332,
.squareBox331,
.squareBox330,
.squareBox349,
.squareBox350,
.squareBox351,
.squareBox352,
.squareBox415,
.squareBox416,
.squareBox477,
.squareBox478,
.squareBox391,
.squareBox390,
.squareBox453,
.squareBox452,
.squareBox513,
.squareBox575,
.squareBox637,
.squareBox698,
.squareBox541,
.squareBox603,
.squareBox665,
.squareBox728,
.squareBox760,
.squareBox822,
.squareBox790,
.squareBox852,
.squareBox885,
.squareBox947,
.squareBox1009,
.squareBox913,
.squareBox975,
.squareBox1037,
.squareBox1072,
.squareBox1135,
.squareBox1198,
.squareBox1261,
.squareBox1098,
.squareBox1159,
.squareBox1220,
.squareBox1281,
.squareBox1324,
.squareBox1387,
.squareBox1450,
.squareBox1513,
.squareBox1342,
.squareBox1403,
.squareBox1464,
.squareBox1525,
.squareBox1576,
.squareBox1639,
.squareBox1702,
.squareBox1765,
.squareBox1586,
.squareBox1647,
.squareBox1708,
.squareBox1769,
.squareBox1828,
.squareBox1891,
.squareBox1830,
.squareBox392,
.squareBox393,
.squareBox394,
.squareBox395,
.squareBox411,
.squareBox412,
.squareBox413,
.squareBox414,
.squareBox454,
.squareBox455,
.squareBox456,
.squareBox457,
.squareBox458,
.squareBox459,
.squareBox471,
.squareBox472,
.squareBox473,
.squareBox474,
.squareBox475,
.squareBox476,
.squareBox514,
.squareBox515,
.squareBox516,
.squareBox517,
.squareBox518,
.squareBox519,
.squareBox520,
.squareBox521,
.squareBox522,
.squareBox523,
.squareBox531,
.squareBox532,
.squareBox533,
.squareBox534,
.squareBox535,
.squareBox536,
.squareBox537,
.squareBox538,
.squareBox539,
.squareBox540,
.squareBox576,
.squareBox577,
.squareBox578,
.squareBox579,
.squareBox580,
.squareBox581,
.squareBox582,
.squareBox583,
.squareBox584,
.squareBox585,
.squareBox586,
.squareBox587,
.squareBox591,
.squareBox592,
.squareBox593,
.squareBox594,
.squareBox595,
.squareBox596,
.squareBox597,
.squareBox598,
.squareBox599,
.squareBox600,
.squareBox601,
.squareBox602,
.squareBox638,
.squareBox639,
.squareBox640,
.squareBox641,
.squareBox646,
.squareBox647,
.squareBox648,
.squareBox649,
.squareBox650,
.squareBox652,
.squareBox653,
.squareBox654,
.squareBox655,
.squareBox656,
.squareBox657,
.squareBox658,
.squareBox659,
.squareBox660,
.squareBox661,
.squareBox662,
.squareBox663,
.squareBox664,
.squareBox699,
.squareBox700,
.squareBox701,
.squareBox702,
.squareBox703,
.squareBox708,
.squareBox709,
.squareBox710,
.squareBox711,
.squareBox712,
.squareBox713,
.squareBox714,
.squareBox715,
.squareBox716,
.squareBox717,
.squareBox718,
.squareBox719,
.squareBox720,
.squareBox721,
.squareBox722,
.squareBox723,
.squareBox724,
.squareBox725,
.squareBox726,
.squareBox727,
.squareBox761,
.squareBox762,
.squareBox763,
.squareBox768,
.squareBox769,
.squareBox770,
.squareBox771,
.squareBox772,
.squareBox773,
.squareBox774,
.squareBox775,
.squareBox775,
.squareBox776,
.squareBox777,
.squareBox778,
.squareBox779,
.squareBox780,
.squareBox781,
.squareBox782,
.squareBox783,
.squareBox784,
.squareBox785,
.squareBox786,
.squareBox787,
.squareBox788,
.squareBox789,
.squareBox823,
.squareBox824,
.squareBox825,
.squareBox830,
.squareBox831,
.squareBox832,
.squareBox833,
.squareBox834,
.squareBox835,
.squareBox836,
.squareBox837,
.squareBox838,
.squareBox839,
.squareBox840,
.squareBox841,
.squareBox842,
.squareBox843,
.squareBox844,
.squareBox845,
.squareBox846,
.squareBox847,
.squareBox848,
.squareBox849,
.squareBox850,
.squareBox851,
.squareBox886,
.squareBox887,
.squareBox890,
.squareBox891,
.squareBox892,
.squareBox893,
.squareBox894,
.squareBox895,
.squareBox896,
.squareBox897,
.squareBox898,
.squareBox899,
.squareBox900,
.squareBox901,
.squareBox902,
.squareBox903,
.squareBox904,
.squareBox905,
.squareBox906,
.squareBox907,
.squareBox908,
.squareBox909,
.squareBox910,
.squareBox911,
.squareBox912,
.squareBox948,
.squareBox949,
.squareBox952,
.squareBox953,
.squareBox954,
.squareBox955,
.squareBox956,
.squareBox957,
.squareBox958,
.squareBox959,
.squareBox960,
.squareBox961,
.squareBox962,
.squareBox963,
.squareBox964,
.squareBox965,
.squareBox966,
.squareBox967,
.squareBox968,
.squareBox969,
.squareBox970,
.squareBox971,
.squareBox972,
.squareBox973,
.squareBox974,
.squareBox1010,
.squareBox1011,
.squareBox1012,
.squareBox1013,
.squareBox1014,
.squareBox1015,
.squareBox1016,
.squareBox1017,
.squareBox1018,
.squareBox1019,
.squareBox1020,
.squareBox1021,
.squareBox1022,
.squareBox1023,
.squareBox1024,
.squareBox1025,
.squareBox1026,
.squareBox1027,
.squareBox1028,
.squareBox1029,
.squareBox1030,
.squareBox1031,
.squareBox1032,
.squareBox1033,
.squareBox1034,
.squareBox1035,
.squareBox1036,
.squareBox1073,
.squareBox1074,
.squareBox1075,
.squareBox1076,
.squareBox1077,
.squareBox1078,
.squareBox1079,
.squareBox1080,
.squareBox1081,
.squareBox1082,
.squareBox1083,
.squareBox1084,
.squareBox1085,
.squareBox1086,
.squareBox1087,
.squareBox1088,
.squareBox1089,
.squareBox1090,
.squareBox1091,
.squareBox1092,
.squareBox1093,
.squareBox1094,
.squareBox1095,
.squareBox1096,
.squareBox1097,
.squareBox1136,
.squareBox1137,
.squareBox1138,
.squareBox1139,
.squareBox1140,
.squareBox1141,
.squareBox1142,
.squareBox1143,
.squareBox1144,
.squareBox1145,
.squareBox1146,
.squareBox1147,
.squareBox1148,
.squareBox1149,
.squareBox1150,
.squareBox1151,
.squareBox1152,
.squareBox1153,
.squareBox1154,
.squareBox1155,
.squareBox1156,
.squareBox1157,
.squareBox1158,
.squareBox1199,
.squareBox1200,
.squareBox1201,
.squareBox1202,
.squareBox1203,
.squareBox1204,
.squareBox1205,
.squareBox1206,
.squareBox1207,
.squareBox1208,
.squareBox1209,
.squareBox1210,
.squareBox1211,
.squareBox1212,
.squareBox1213,
.squareBox1214,
.squareBox1215,
.squareBox1216,
.squareBox1217,
.squareBox1218,
.squareBox1219,
.squareBox1262,
.squareBox1263,
.squareBox1264,
.squareBox1265,
.squareBox1266,
.squareBox1267,
.squareBox1268,
.squareBox1269,
.squareBox1270,
.squareBox1271,
.squareBox1272,
.squareBox1273,
.squareBox1274,
.squareBox1275,
.squareBox1276,
.squareBox1277,
.squareBox1278,
.squareBox1279,
.squareBox1280,
.squareBox1325,
.squareBox1326,
.squareBox1327,
.squareBox1328,
.squareBox1329,
.squareBox1330,
.squareBox1331,
.squareBox1332,
.squareBox1333,
.squareBox1334,
.squareBox1335,
.squareBox1336,
.squareBox1337,
.squareBox1338,
.squareBox1339,
.squareBox1340,
.squareBox1341,
.squareBox1388,
.squareBox1389,
.squareBox1390,
.squareBox1391,
.squareBox1392,
.squareBox1393,
.squareBox1394,
.squareBox1395,
.squareBox1396,
.squareBox1397,
.squareBox1398,
.squareBox1399,
.squareBox1400,
.squareBox1401,
.squareBox1402,
.squareBox1451,
.squareBox1452,
.squareBox1453,
.squareBox1454,
.squareBox1455,
.squareBox1456,
.squareBox1457,
.squareBox1458,
.squareBox1459,
.squareBox1460,
.squareBox1461,
.squareBox1462,
.squareBox1463,
.squareBox1514,
.squareBox1515,
.squareBox1516,
.squareBox1517,
.squareBox1518,
.squareBox1519,
.squareBox1520,
.squareBox1521,
.squareBox1522,
.squareBox1523,
.squareBox1524,
.squareBox1577,
.squareBox1578,
.squareBox1579,
.squareBox1580,
.squareBox1581,
.squareBox1582,
.squareBox1583,
.squareBox1584,
.squareBox1585,
.squareBox1640,
.squareBox1641,
.squareBox1642,
.squareBox1643,
.squareBox1644,
.squareBox1645,
.squareBox1646,
.squareBox1703,
.squareBox1704,
.squareBox1705,
.squareBox1706,
.squareBox1707,
.squareBox1766,
.squareBox1767,
.squareBox1768,
.squareBox1829 {
  animation: heart 5s ease infinite;
}

.squareBox378,
.squareBox379,
.squareBox440,
.squareBox441 {
  background-color: white;
}

.squareBox380,
.squareBox381,
.squareBox442,
.squareBox443 {
  background-color: white;
}

.squareBox382,
.squareBox383,
.squareBox444,
.squareBox445 {
  background-color: white;
}

.squareBox384,
.squareBox385,
.squareBox446,
.squareBox447 {
  background-color: white;
}

.squareBox386,
.squareBox387,
.squareBox448,
.squareBox449 {
  background-color: white;
}

.squareBox388,
.squareBox389,
.squareBox450,
.squareBox451 {
  background-color: white;
}

.squareBox507,
.squareBox508,
.squareBox569,
.squareBox570,
.squareBox506,
.squareBox509 {
  background-color: white;
}

.squareBox631,
.squareBox632,
.squareBox693,
.squareBox694 {
  background-color: white;
}

.squareBox755,
.squareBox756,
.squareBox817,
.squareBox818 {
  background-color: white;
}

.squareBox879,
.squareBox880,
.squareBox941,
.squareBox942 {
  background-color: white;
}

.squareBox1003,
.squareBox1004,
.squareBox1065,
.squareBox1066 {
  background-color: white;
}

.squareBox1127,
.squareBox1128,
.squareBox1189,
.squareBox1190 {
  background-color: white;
}

.squareBox1251,
.squareBox1252,
.squareBox1313,
.squareBox1314 {
  background-color: white;
}

.squareBox1375,
.squareBox1376,
.squareBox1437,
.squareBox1438 {
  background-color: white;
}

.squareBox1499,
.squareBox1500,
.squareBox1561,
.squareBox1562 {
  background-color: white;
}

.squareBox1623,
.squareBox1624,
.squareBox1685,
.squareBox1686,
.squareBox1684,
.squareBox1687 {
  background-color: white;
}

.squareBox1747,
.squareBox1748,
.squareBox1809,
.squareBox1810 {
  background-color: white;
}

.squareBox1746,
.squareBox1745,
.squareBox1808,
.squareBox1807 {
  background-color: white;
}

.squareBox1744,
.squareBox1743,
.squareBox1742,
.squareBox1806,
.squareBox1805,
.squareBox1804 {
  background-color: white;
}

.squareBox1749,
.squareBox1750,
.squareBox1811,
.squareBox1812 {
  background-color: white;
}

.squareBox1751,
.squareBox1752,
.squareBox1753,
.squareBox1813,
.squareBox1814,
.squareBox1815 {
  background-color: white;
}

.squareBox428,
.squareBox427,
.squareBox490,
.squareBox489 {
  background-color: white;
}

.squareBox552,
.squareBox551,
.squareBox614,
.squareBox613 {
  background-color: white;
}

.squareBox676,
.squareBox675,
.squareBox738,
.squareBox737 {
  background-color: white;
}

.squareBox800,
.squareBox799,
.squareBox861,
.squareBox862 {
  background-color: white;
}

.squareBox924,
.squareBox923,
.squareBox986,
.squareBox985 {
  background-color: white;
}

.squareBox1048,
.squareBox1047,
.squareBox1110,
.squareBox1109 {
  background-color: white;
}

.squareBox1172,
.squareBox1171,
.squareBox1234,
.squareBox1233 {
  background-color: white;
}

.squareBox1296,
.squareBox1295,
.squareBox1358,
.squareBox1357 {
  background-color: white;
}

.squareBox1420,
.squareBox1419,
.squareBox1482,
.squareBox1481 {
  background-color: white;
}

.squareBox1543,
.squareBox1542,
.squareBox1605,
.squareBox1604 {
  background-color: white;
}

.squareBox1666,
.squareBox1665,
.squareBox1728,
.squareBox1727 {
  background-color: white;
}

.squareBox1789,
.squareBox1788,
.squareBox1851,
.squareBox1850 {
  background-color: white;
}

.squareBox1787,
.squareBox1786,
.squareBox1849,
.squareBox1848 {
  background-color: white;
}

.squareBox1785,
.squareBox1784,
.squareBox1847,
.squareBox1846 {
  background-color: white;
}

.squareBox1783,
.squareBox1782,
.squareBox1845,
.squareBox1844 {
  background-color: white;
}

.squareBox1781,
.squareBox1780,
.squareBox1843,
.squareBox1842 {
  background-color: white;
}

.squareBox1718,
.squareBox1717,
.squareBox1656,
.squareBox1655 {
  background-color: white;
}

.squareBox1593,
.squareBox1592,
.squareBox1531,
.squareBox1530 {
  background-color: white;
}

.squareBox1468,
.squareBox1467,
.squareBox1406,
.squareBox1405 {
  background-color: white;
}

.squareBox1344,
.squareBox1343,
.squareBox1282,
.squareBox1281 {
  background-color: white;
}

.squareBox1220,
.squareBox1219,
.squareBox1158,
.squareBox1157 {
  background-color: white;
}

.squareBox1096,
.squareBox1095,
.squareBox1034,
.squareBox1033 {
  background-color: white;
}

.squareBox972,
.squareBox971,
.squareBox910,
.squareBox909 {
  background-color: white;
}

.squareBox848,
.squareBox847,
.squareBox786,
.squareBox785 {
  background-color: white;
}

.squareBox724,
.squareBox723,
.squareBox662,
.squareBox661 {
  background-color: white;
}

.squareBox600,
.squareBox599,
.squareBox538,
.squareBox537 {
  background-color: white;
}

.squareBox476,
.squareBox475,
.squareBox414,
.squareBox413 {
  background-color: white;
}

.squareBox396,
.squareBox397,
.squareBox458,
.squareBox459 {
  background-color: white;
}

.squareBox520,
.squareBox521,
.squareBox582,
.squareBox583 {
  background-color: white;
}

.squareBox645,
.squareBox644,
.squareBox706,
.squareBox707 {
  background-color: white;
}

.squareBox768,
.squareBox769,
.squareBox830,
.squareBox831 {
  background-color: white;
}

.squareBox892,
.squareBox893,
.squareBox954,
.squareBox955 {
  background-color: white;
}

.squareBox1016,
.squareBox1017,
.squareBox1078,
.squareBox1079 {
  background-color: white;
}

.squareBox1140,
.squareBox1141,
.squareBox1202,
.squareBox1203 {
  background-color: white;
}

.squareBox1264,
.squareBox1265,
.squareBox1326,
.squareBox1327 {
  background-color: white;
}

.squareBox1388,
.squareBox1389,
.squareBox1450,
.squareBox1451 {
  background-color: white;
}

.squareBox1512,
.squareBox1513,
.squareBox1574,
.squareBox1575 {
  background-color: white;
}

.squareBox1636,
.squareBox1637,
.squareBox1698,
.squareBox1699,
.squareBox1700 {
  background-color: white;
}

.squareBox1760,
.squareBox1761,
.squareBox1822,
.squareBox1823 {
  background-color: white;
}

.squareBox1762,
.squareBox1763,
.squareBox1824,
.squareBox1825 {
  background-color: white;
}

.squareBox1764,
.squareBox1765,
.squareBox1826,
.squareBox1827 {
  background-color: white;
}

.squareBox1766,
.squareBox1767,
.squareBox1828,
.squareBox1829 {
  background-color: white;
}

.squareBox1768,
.squareBox1769,
.squareBox1830,
.squareBox1831 {
  background-color: white;
}

.squareBox1770,
.squareBox1771,
.squareBox1832,
.squareBox1833 {
  background-color: white;
}

.squareBox397,
.squareBox396,
.squareBox460 {
  background-color: red;
}

.squareBox461,
.squareBox524,
.squareBox525,
.squareBox588 {
  background-color: red;
}

.squareBox651,
.squareBox590,
.squareBox529,
.squareBox530 {
  background-color: red;
}

.squareBox469,
.squareBox470,
.squareBox409,
.squareBox410 {
  background-color: red;
}

.squareBox333,
.squareBox332,
.squareBox331,
.squareBox330 {
  background-color: red;
}

.squareBox349,
.squareBox350,
.squareBox351,
.squareBox352 {
  background-color: red;
}

.squareBox415,
.squareBox416,
.squareBox477,
.squareBox478 {
  background-color: red;
}

.squareBox391,
.squareBox390,
.squareBox453,
.squareBox452 {
  background-color: red;
}

.squareBox513,
.squareBox575,
.squareBox637,
.squareBox698 {
  background-color: red;
}

.squareBox541,
.squareBox603,
.squareBox665,
.squareBox728 {
  background-color: red;
}

.squareBox760,
.squareBox822,
.squareBox790,
.squareBox852 {
  background-color: red;
}

.squareBox885,
.squareBox947,
.squareBox1009 {
  background-color: red;
}

.squareBox913,
.squareBox975,
.squareBox1037 {
  background-color: red;
}

.squareBox1072,
.squareBox1135,
.squareBox1198,
.squareBox1261 {
  background-color: red;
}

.squareBox1098,
.squareBox1159,
.squareBox1220,
.squareBox1281 {
  background-color: red;
}

.squareBox1324,
.squareBox1387,
.squareBox1450,
.squareBox1513 {
  background-color: red;
}

.squareBox1342,
.squareBox1403,
.squareBox1464,
.squareBox1525 {
  background-color: red;
}

.squareBox1576,
.squareBox1639,
.squareBox1702,
.squareBox1765 {
  background-color: red;
}

.squareBox1586,
.squareBox1647,
.squareBox1708,
.squareBox1769 {
  background-color: red;
}

.squareBox1828,
.squareBox1891,
.squareBox1830 {
  background-color: red;
}

.squareBox392,
.squareBox393,
.squareBox394,
.squareBox395 {
  background-color: red;
}

.squareBox411,
.squareBox412,
.squareBox413,
.squareBox414 {
  background-color: red;
}

.squareBox454,
.squareBox455,
.squareBox456,
.squareBox457,
.squareBox458,
.squareBox459 {
  background-color: red;
}

.squareBox471,
.squareBox472,
.squareBox473,
.squareBox474,
.squareBox475,
.squareBox476 {
  background-color: red;
}

.squareBox514,
.squareBox515,
.squareBox516,
.squareBox517,
.squareBox518,
.squareBox519,
.squareBox520,
.squareBox521,
.squareBox522,
.squareBox523 {
  background-color: red;
}

.squareBox531,
.squareBox532,
.squareBox533,
.squareBox534,
.squareBox535,
.squareBox536,
.squareBox537,
.squareBox538,
.squareBox539,
.squareBox540 {
  background-color: red;
}

.squareBox576,
.squareBox577,
.squareBox578,
.squareBox579,
.squareBox580,
.squareBox581,
.squareBox582,
.squareBox583,
.squareBox584,
.squareBox585,
.squareBox586,
.squareBox587 {
  background-color: red;
}

.squareBox591,
.squareBox592,
.squareBox593,
.squareBox594,
.squareBox595,
.squareBox596,
.squareBox597,
.squareBox598,
.squareBox599,
.squareBox600,
.squareBox601,
.squareBox602 {
  background-color: red;
}

.squareBox638,
.squareBox639,
.squareBox640,
.squareBox641,
.squareBox646,
.squareBox647,
.squareBox648,
.squareBox649,
.squareBox650 {
  background-color: red;
}

.squareBox652,
.squareBox653,
.squareBox654,
.squareBox655,
.squareBox656,
.squareBox657,
.squareBox658,
.squareBox659,
.squareBox660,
.squareBox661,
.squareBox662,
.squareBox663,
.squareBox664 {
  background-color: red;
}

.squareBox699,
.squareBox700,
.squareBox701,
.squareBox702,
.squareBox703,
.squareBox708,
.squareBox709,
.squareBox710,
.squareBox711,
.squareBox712 {
  background-color: red;
}

.squareBox713,
.squareBox714,
.squareBox715,
.squareBox716,
.squareBox717,
.squareBox718,
.squareBox719,
.squareBox720,
.squareBox721,
.squareBox722,
.squareBox723,
.squareBox724,
.squareBox725,
.squareBox726,
.squareBox727 {
  background-color: red;
}

.squareBox761,
.squareBox762,
.squareBox763,
.squareBox768,
.squareBox769,
.squareBox770,
.squareBox771,
.squareBox772,
.squareBox773,
.squareBox774,
.squareBox775 {
  background-color: red;
}

.squareBox775,
.squareBox776,
.squareBox777,
.squareBox778,
.squareBox779,
.squareBox780,
.squareBox781,
.squareBox782,
.squareBox783,
.squareBox784,
.squareBox785,
.squareBox786,
.squareBox787,
.squareBox788,
.squareBox789 {
  background-color: red;
}

.squareBox823,
.squareBox824,
.squareBox825,
.squareBox830,
.squareBox831,
.squareBox832,
.squareBox833,
.squareBox834,
.squareBox835,
.squareBox836,
.squareBox837 {
  background-color: red;
}

.squareBox838,
.squareBox839,
.squareBox840,
.squareBox841,
.squareBox842,
.squareBox843,
.squareBox844,
.squareBox845,
.squareBox846,
.squareBox847,
.squareBox848,
.squareBox849,
.squareBox850,
.squareBox851 {
  background-color: red;
}

.squareBox886,
.squareBox887,
.squareBox890,
.squareBox891,
.squareBox892,
.squareBox893,
.squareBox894,
.squareBox895,
.squareBox896,
.squareBox897,
.squareBox898,
.squareBox899,
.squareBox900 {
  background-color: red;
}

.squareBox901,
.squareBox902,
.squareBox903,
.squareBox904,
.squareBox905,
.squareBox906,
.squareBox907,
.squareBox908,
.squareBox909,
.squareBox910,
.squareBox911,
.squareBox912 {
  background-color: red;
}

.squareBox948,
.squareBox949,
.squareBox952,
.squareBox953,
.squareBox954,
.squareBox955,
.squareBox956,
.squareBox957,
.squareBox958,
.squareBox959,
.squareBox960,
.squareBox961,
.squareBox962 {
  background-color: red;
}

.squareBox963,
.squareBox964,
.squareBox965,
.squareBox966,
.squareBox967,
.squareBox968,
.squareBox969,
.squareBox970,
.squareBox971,
.squareBox972,
.squareBox973,
.squareBox974 {
  background-color: red;
}

.squareBox1010,
.squareBox1011,
.squareBox1012,
.squareBox1013,
.squareBox1014,
.squareBox1015,
.squareBox1016,
.squareBox1017,
.squareBox1018,
.squareBox1019,
.squareBox1020,
.squareBox1021,
.squareBox1022 {
  background-color: red;
}

.squareBox1023,
.squareBox1024,
.squareBox1025,
.squareBox1026,
.squareBox1027,
.squareBox1028,
.squareBox1029,
.squareBox1030,
.squareBox1031,
.squareBox1032,
.squareBox1033,
.squareBox1034,
.squareBox1035,
.squareBox1036 {
  background-color: red;
}

.squareBox1073,
.squareBox1074,
.squareBox1075,
.squareBox1076,
.squareBox1077,
.squareBox1078,
.squareBox1079,
.squareBox1080,
.squareBox1081,
.squareBox1082,
.squareBox1083,
.squareBox1084,
.squareBox1085 {
  background-color: red;
}

.squareBox1086,
.squareBox1087,
.squareBox1088,
.squareBox1089,
.squareBox1090,
.squareBox1091,
.squareBox1092,
.squareBox1093,
.squareBox1094,
.squareBox1095,
.squareBox1096,
.squareBox1097 {
  background-color: red;
}

.squareBox1136,
.squareBox1137,
.squareBox1138,
.squareBox1139,
.squareBox1140,
.squareBox1141,
.squareBox1142,
.squareBox1143,
.squareBox1144,
.squareBox1145,
.squareBox1146,
.squareBox1147,
.squareBox1148 {
  background-color: red;
}

.squareBox1149,
.squareBox1150,
.squareBox1151,
.squareBox1152,
.squareBox1153,
.squareBox1154,
.squareBox1155,
.squareBox1156,
.squareBox1157,
.squareBox1158 {
  background-color: red;
}

.squareBox1199,
.squareBox1200,
.squareBox1201,
.squareBox1202,
.squareBox1203,
.squareBox1204,
.squareBox1205,
.squareBox1206,
.squareBox1207,
.squareBox1208,
.squareBox1209,
.squareBox1210,
.squareBox1211 {
  background-color: red;
}

.squareBox1212,
.squareBox1213,
.squareBox1214,
.squareBox1215,
.squareBox1216,
.squareBox1217,
.squareBox1218,
.squareBox1219 {
  background-color: red;
}

.squareBox1262,
.squareBox1263,
.squareBox1264,
.squareBox1265,
.squareBox1266,
.squareBox1267,
.squareBox1268,
.squareBox1269,
.squareBox1270,
.squareBox1271,
.squareBox1272,
.squareBox1273,
.squareBox1274 {
  background-color: red;
}

.squareBox1275,
.squareBox1276,
.squareBox1277,
.squareBox1278,
.squareBox1279,
.squareBox1280 {
  background-color: red;
}

.squareBox1325,
.squareBox1326,
.squareBox1327,
.squareBox1328,
.squareBox1329,
.squareBox1330,
.squareBox1331,
.squareBox1332,
.squareBox1333,
.squareBox1334,
.squareBox1335,
.squareBox1336,
.squareBox1337 {
  background-color: red;
}

.squareBox1338,
.squareBox1339,
.squareBox1340,
.squareBox1341 {
  background-color: red;
}

.squareBox1388,
.squareBox1389,
.squareBox1390,
.squareBox1391,
.squareBox1392,
.squareBox1393,
.squareBox1394,
.squareBox1395,
.squareBox1396,
.squareBox1397,
.squareBox1398,
.squareBox1399,
.squareBox1400 {
  background-color: red;
}

.squareBox1401,
.squareBox1402 {
  background-color: red;
}

.squareBox1451,
.squareBox1452,
.squareBox1453,
.squareBox1454,
.squareBox1455,
.squareBox1456,
.squareBox1457,
.squareBox1458,
.squareBox1459,
.squareBox1460,
.squareBox1461,
.squareBox1462,
.squareBox1463 {
  background-color: red;
}

.squareBox1514,
.squareBox1515,
.squareBox1516,
.squareBox1517,
.squareBox1518,
.squareBox1519,
.squareBox1520,
.squareBox1521,
.squareBox1522,
.squareBox1523,
.squareBox1524 {
  background-color: red;
}

.squareBox1577,
.squareBox1578,
.squareBox1579,
.squareBox1580,
.squareBox1581,
.squareBox1582,
.squareBox1583,
.squareBox1584,
.squareBox1585 {
  background-color: red;
}

.squareBox1640,
.squareBox1641,
.squareBox1642,
.squareBox1643,
.squareBox1644,
.squareBox1645,
.squareBox1646 {
  background-color: red;
}

.squareBox1703,
.squareBox1704,
.squareBox1705,
.squareBox1706,
.squareBox1707 {
  background-color: red;
}

.squareBox1766,
.squareBox1767,
.squareBox1768,
.squareBox1829 {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */