.squareBox397,
.squareBox396,
.squareBox460 {
  background-color: $background-hearth;
}

.squareBox461,
.squareBox524,
.squareBox525,
.squareBox588 {
  background-color: $background-hearth;
}

.squareBox651,
.squareBox590,
.squareBox529,
.squareBox530 {
  background-color: $background-hearth;
}

.squareBox469,
.squareBox470,
.squareBox409,
.squareBox410 {
  background-color: $background-hearth;
}

.squareBox333,
.squareBox332,
.squareBox331,
.squareBox330 {
  background-color: $background-hearth;
}

.squareBox349,
.squareBox350,
.squareBox351,
.squareBox352 {
  background-color: $background-hearth;
}

.squareBox415,
.squareBox416,
.squareBox477,
.squareBox478 {
  background-color: $background-hearth;
}

.squareBox391,
.squareBox390,
.squareBox453,
.squareBox452 {
  background-color: $background-hearth;
}

.squareBox513,
.squareBox575,
.squareBox637,
.squareBox698 {
  background-color: $background-hearth;
}

.squareBox541,
.squareBox603,
.squareBox665,
.squareBox728 {
  background-color: $background-hearth;
}

.squareBox760,
.squareBox822,
.squareBox790,
.squareBox852 {
  background-color: $background-hearth;
}

.squareBox885,
.squareBox947,
.squareBox1009 {
  background-color: $background-hearth;
}

.squareBox913,
.squareBox975,
.squareBox1037 {
  background-color: $background-hearth;
}

.squareBox1072,
.squareBox1135,
.squareBox1198,
.squareBox1261 {
  background-color: $background-hearth;
}

.squareBox1098,
.squareBox1159,
.squareBox1220,
.squareBox1281 {
  background-color: $background-hearth;
}

.squareBox1324,
.squareBox1387,
.squareBox1450,
.squareBox1513 {
  background-color: $background-hearth;
}

.squareBox1342,
.squareBox1403,
.squareBox1464,
.squareBox1525 {
  background-color: $background-hearth;
}

.squareBox1576,
.squareBox1639,
.squareBox1702,
.squareBox1765 {
  background-color: $background-hearth;
}

.squareBox1586,
.squareBox1647,
.squareBox1708,
.squareBox1769 {
  background-color: $background-hearth;
}

.squareBox1828,
.squareBox1891,
.squareBox1830 {
  background-color: $background-hearth;
}

.squareBox392,
.squareBox393,
.squareBox394,
.squareBox395 {
  background-color: $background-hearth;
}

.squareBox411,
.squareBox412,
.squareBox413,
.squareBox414 {
  background-color: $background-hearth;
}

.squareBox454,
.squareBox455,
.squareBox456,
.squareBox457,
.squareBox458,
.squareBox459 {
  background-color: $background-hearth;
}

.squareBox471,
.squareBox472,
.squareBox473,
.squareBox474,
.squareBox475,
.squareBox476 {
  background-color: $background-hearth;
}

.squareBox514,
.squareBox515,
.squareBox516,
.squareBox517,
.squareBox518,
.squareBox519,
.squareBox520,
.squareBox521,
.squareBox522,
.squareBox523 {
  background-color: $background-hearth;
}

.squareBox531,
.squareBox532,
.squareBox533,
.squareBox534,
.squareBox535,
.squareBox536,
.squareBox537,
.squareBox538,
.squareBox539,
.squareBox540 {
  background-color: $background-hearth;
}

.squareBox576,
.squareBox577,
.squareBox578,
.squareBox579,
.squareBox580,
.squareBox581,
.squareBox582,
.squareBox583,
.squareBox584,
.squareBox585,
.squareBox586,
.squareBox587 {
  background-color: $background-hearth;
}

.squareBox591,
.squareBox592,
.squareBox593,
.squareBox594,
.squareBox595,
.squareBox596,
.squareBox597,
.squareBox598,
.squareBox599,
.squareBox600,
.squareBox601,
.squareBox602 {
  background-color: $background-hearth;
}

.squareBox638,
.squareBox639,
.squareBox640,
.squareBox641,
.squareBox646,
.squareBox647,
.squareBox648,
.squareBox649,
.squareBox650 {
  background-color: $background-hearth;
}

.squareBox652,
.squareBox653,
.squareBox654,
.squareBox655,
.squareBox656,
.squareBox657,
.squareBox658,
.squareBox659,
.squareBox660,
.squareBox661,
.squareBox662,
.squareBox663,
.squareBox664 {
  background-color: $background-hearth;
}

.squareBox699,
.squareBox700,
.squareBox701,
.squareBox702,
.squareBox703,
.squareBox708,
.squareBox709,
.squareBox710,
.squareBox711,
.squareBox712 {
  background-color: $background-hearth;
}

.squareBox713,
.squareBox714,
.squareBox715,
.squareBox716,
.squareBox717,
.squareBox718,
.squareBox719,
.squareBox720,
.squareBox721,
.squareBox722,
.squareBox723,
.squareBox724,
.squareBox725,
.squareBox726,
.squareBox727 {
  background-color: $background-hearth;
}

.squareBox761,
.squareBox762,
.squareBox763,
.squareBox768,
.squareBox769,
.squareBox770,
.squareBox771,
.squareBox772,
.squareBox773,
.squareBox774,
.squareBox775 {
  background-color: $background-hearth;
}
.squareBox775,
.squareBox776,
.squareBox777,
.squareBox778,
.squareBox779,
.squareBox780,
.squareBox781,
.squareBox782,
.squareBox783,
.squareBox784,
.squareBox785,
.squareBox786,
.squareBox787,
.squareBox788,
.squareBox789 {
  background-color: $background-hearth;
}

.squareBox823,
.squareBox824,
.squareBox825,
.squareBox830,
.squareBox831,
.squareBox832,
.squareBox833,
.squareBox834,
.squareBox835,
.squareBox836,
.squareBox837 {
  background-color: $background-hearth;
}

.squareBox838,
.squareBox839,
.squareBox840,
.squareBox841,
.squareBox842,
.squareBox843,
.squareBox844,
.squareBox845,
.squareBox846,
.squareBox847,
.squareBox848,
.squareBox849,
.squareBox850,
.squareBox851 {
  background-color: $background-hearth;
}

.squareBox886,
.squareBox887,
.squareBox890,
.squareBox891,
.squareBox892,
.squareBox893,
.squareBox894,
.squareBox895,
.squareBox896,
.squareBox897,
.squareBox898,
.squareBox899,
.squareBox900 {
  background-color: $background-hearth;
}

.squareBox901,
.squareBox902,
.squareBox903,
.squareBox904,
.squareBox905,
.squareBox906,
.squareBox907,
.squareBox908,
.squareBox909,
.squareBox910,
.squareBox911,
.squareBox912 {
  background-color: $background-hearth;
}

.squareBox948,
.squareBox949,
.squareBox952,
.squareBox953,
.squareBox954,
.squareBox955,
.squareBox956,
.squareBox957,
.squareBox958,
.squareBox959,
.squareBox960,
.squareBox961,
.squareBox962 {
  background-color: $background-hearth;
}

.squareBox963,
.squareBox964,
.squareBox965,
.squareBox966,
.squareBox967,
.squareBox968,
.squareBox969,
.squareBox970,
.squareBox971,
.squareBox972,
.squareBox973,
.squareBox974 {
  background-color: $background-hearth;
}

.squareBox1010,
.squareBox1011,
.squareBox1012,
.squareBox1013,
.squareBox1014,
.squareBox1015,
.squareBox1016,
.squareBox1017,
.squareBox1018,
.squareBox1019,
.squareBox1020,
.squareBox1021,
.squareBox1022 {
  background-color: $background-hearth;
}

.squareBox1023,
.squareBox1024,
.squareBox1025,
.squareBox1026,
.squareBox1027,
.squareBox1028,
.squareBox1029,
.squareBox1030,
.squareBox1031,
.squareBox1032,
.squareBox1033,
.squareBox1034,
.squareBox1035,
.squareBox1036 {
  background-color: $background-hearth;
}

.squareBox1073,
.squareBox1074,
.squareBox1075,
.squareBox1076,
.squareBox1077,
.squareBox1078,
.squareBox1079,
.squareBox1080,
.squareBox1081,
.squareBox1082,
.squareBox1083,
.squareBox1084,
.squareBox1085 {
  background-color: $background-hearth;
}

.squareBox1086,
.squareBox1087,
.squareBox1088,
.squareBox1089,
.squareBox1090,
.squareBox1091,
.squareBox1092,
.squareBox1093,
.squareBox1094,
.squareBox1095,
.squareBox1096,
.squareBox1097 {
  background-color: $background-hearth;
}

.squareBox1136,
.squareBox1137,
.squareBox1138,
.squareBox1139,
.squareBox1140,
.squareBox1141,
.squareBox1142,
.squareBox1143,
.squareBox1144,
.squareBox1145,
.squareBox1146,
.squareBox1147,
.squareBox1148 {
  background-color: $background-hearth;
}

.squareBox1149,
.squareBox1150,
.squareBox1151,
.squareBox1152,
.squareBox1153,
.squareBox1154,
.squareBox1155,
.squareBox1156,
.squareBox1157,
.squareBox1158 {
  background-color: $background-hearth;
}

.squareBox1199,
.squareBox1200,
.squareBox1201,
.squareBox1202,
.squareBox1203,
.squareBox1204,
.squareBox1205,
.squareBox1206,
.squareBox1207,
.squareBox1208,
.squareBox1209,
.squareBox1210,
.squareBox1211 {
  background-color: $background-hearth;
}

.squareBox1212,
.squareBox1213,
.squareBox1214,
.squareBox1215,
.squareBox1216,
.squareBox1217,
.squareBox1218,
.squareBox1219 {
  background-color: $background-hearth;
}

.squareBox1262,
.squareBox1263,
.squareBox1264,
.squareBox1265,
.squareBox1266,
.squareBox1267,
.squareBox1268,
.squareBox1269,
.squareBox1270,
.squareBox1271,
.squareBox1272,
.squareBox1273,
.squareBox1274 {
  background-color: $background-hearth;
}

.squareBox1275,
.squareBox1276,
.squareBox1277,
.squareBox1278,
.squareBox1279,
.squareBox1280 {
  background-color: $background-hearth;
}

.squareBox1325,
.squareBox1326,
.squareBox1327,
.squareBox1328,
.squareBox1329,
.squareBox1330,
.squareBox1331,
.squareBox1332,
.squareBox1333,
.squareBox1334,
.squareBox1335,
.squareBox1336,
.squareBox1337 {
  background-color: $background-hearth;
}

.squareBox1338,
.squareBox1339,
.squareBox1340,
.squareBox1341 {
  background-color: $background-hearth;
}

.squareBox1388,
.squareBox1389,
.squareBox1390,
.squareBox1391,
.squareBox1392,
.squareBox1393,
.squareBox1394,
.squareBox1395,
.squareBox1396,
.squareBox1397,
.squareBox1398,
.squareBox1399,
.squareBox1400 {
  background-color: $background-hearth;
}

.squareBox1401,
.squareBox1402 {
  background-color: $background-hearth;
}

.squareBox1451,
.squareBox1452,
.squareBox1453,
.squareBox1454,
.squareBox1455,
.squareBox1456,
.squareBox1457,
.squareBox1458,
.squareBox1459,
.squareBox1460,
.squareBox1461,
.squareBox1462,
.squareBox1463 {
  background-color: $background-hearth;
}

.squareBox1514,
.squareBox1515,
.squareBox1516,
.squareBox1517,
.squareBox1518,
.squareBox1519,
.squareBox1520,
.squareBox1521,
.squareBox1522,
.squareBox1523,
.squareBox1524 {
  background-color: $background-hearth;
}

.squareBox1577,
.squareBox1578,
.squareBox1579,
.squareBox1580,
.squareBox1581,
.squareBox1582,
.squareBox1583,
.squareBox1584,
.squareBox1585 {
  background-color: $background-hearth;
}

.squareBox1640,
.squareBox1641,
.squareBox1642,
.squareBox1643,
.squareBox1644,
.squareBox1645,
.squareBox1646 {
  background-color: $background-hearth;
}

.squareBox1703,
.squareBox1704,
.squareBox1705,
.squareBox1706,
.squareBox1707 {
  background-color: $background-hearth;
}

.squareBox1766,
.squareBox1767,
.squareBox1768,
.squareBox1829 {
  background-color: $background-hearth;
}
