$background-test: rgb(255, 255, 255);
$background-text: rgb(255, 255, 255);
$background-hearth: red;

.squareBox378,
.squareBox379,
.squareBox440,
.squareBox441 {
  background-color: $background-test;
}

.squareBox380,
.squareBox381,
.squareBox442,
.squareBox443 {
  background-color: $background-test;
}

.squareBox382,
.squareBox383,
.squareBox444,
.squareBox445 {
  background-color: $background-test;
}

.squareBox384,
.squareBox385,
.squareBox446,
.squareBox447 {
  background-color: $background-test;
}

.squareBox386,
.squareBox387,
.squareBox448,
.squareBox449 {
  background-color: $background-test;
}

.squareBox388,
.squareBox389,
.squareBox450,
.squareBox451 {
  background-color: $background-test;
}

.squareBox507,
.squareBox508,
.squareBox569,
.squareBox570,
.squareBox506,
.squareBox509 {
  background-color: $background-test;
}
.squareBox631,
.squareBox632,
.squareBox693,
.squareBox694 {
  background-color: $background-test;
}

.squareBox755,
.squareBox756,
.squareBox817,
.squareBox818 {
  background-color: $background-test;
}

.squareBox879,
.squareBox880,
.squareBox941,
.squareBox942 {
  background-color: $background-test;
}

.squareBox1003,
.squareBox1004,
.squareBox1065,
.squareBox1066 {
  background-color: $background-test;
}

.squareBox1127,
.squareBox1128,
.squareBox1189,
.squareBox1190 {
  background-color: $background-test;
}

.squareBox1251,
.squareBox1252,
.squareBox1313,
.squareBox1314 {
  background-color: $background-test;
}

.squareBox1375,
.squareBox1376,
.squareBox1437,
.squareBox1438 {
  background-color: $background-test;
}

.squareBox1499,
.squareBox1500,
.squareBox1561,
.squareBox1562 {
  background-color: $background-test;
}

.squareBox1623,
.squareBox1624,
.squareBox1685,
.squareBox1686,
.squareBox1684,
.squareBox1687 {
  background-color: $background-test;
}

.squareBox1747,
.squareBox1748,
.squareBox1809,
.squareBox1810 {
  background-color: $background-test;
}

.squareBox1746,
.squareBox1745,
.squareBox1808,
.squareBox1807 {
  background-color: $background-test;
}

.squareBox1744,
.squareBox1743,
.squareBox1742,
.squareBox1806,
.squareBox1805,
.squareBox1804 {
  background-color: $background-test;
}

.squareBox1749,
.squareBox1750,
.squareBox1811,
.squareBox1812 {
  background-color: $background-test;
}

.squareBox1751,
.squareBox1752,
.squareBox1753,
.squareBox1813,
.squareBox1814,
.squareBox1815 {
  background-color: $background-test;
}
//...........................................

.squareBox428,
.squareBox427,
.squareBox490,
.squareBox489 {
  background-color: $background-test;
}

.squareBox552,
.squareBox551,
.squareBox614,
.squareBox613 {
  background-color: $background-test;
}

.squareBox676,
.squareBox675,
.squareBox738,
.squareBox737 {
  background-color: $background-test;
}

.squareBox800,
.squareBox799,
.squareBox861,
.squareBox862 {
  background-color: $background-test;
}

.squareBox924,
.squareBox923,
.squareBox986,
.squareBox985 {
  background-color: $background-test;
}

.squareBox1048,
.squareBox1047,
.squareBox1110,
.squareBox1109 {
  background-color: $background-test;
}

.squareBox1172,
.squareBox1171,
.squareBox1234,
.squareBox1233 {
  background-color: $background-test;
}

.squareBox1296,
.squareBox1295,
.squareBox1358,
.squareBox1357 {
  background-color: $background-test;
}

.squareBox1420,
.squareBox1419,
.squareBox1482,
.squareBox1481 {
  background-color: $background-test;
}

.squareBox1543,
.squareBox1542,
.squareBox1605,
.squareBox1604 {
  background-color: $background-test;
}

.squareBox1666,
.squareBox1665,
.squareBox1728,
.squareBox1727 {
  background-color: $background-test;
}

.squareBox1789,
.squareBox1788,
.squareBox1851,
.squareBox1850 {
  background-color: $background-test;
}

.squareBox1787,
.squareBox1786,
.squareBox1849,
.squareBox1848 {
  background-color: $background-test;
}

.squareBox1785,
.squareBox1784,
.squareBox1847,
.squareBox1846 {
  background-color: $background-test;
}

.squareBox1783,
.squareBox1782,
.squareBox1845,
.squareBox1844 {
  background-color: $background-test;
}

.squareBox1781,
.squareBox1780,
.squareBox1843,
.squareBox1842 {
  background-color: $background-test;
}

.squareBox1718,
.squareBox1717,
.squareBox1656,
.squareBox1655 {
  background-color: $background-test;
}

.squareBox1593,
.squareBox1592,
.squareBox1531,
.squareBox1530 {
  background-color: $background-test;
}

.squareBox1468,
.squareBox1467,
.squareBox1406,
.squareBox1405 {
  background-color: $background-test;
}

.squareBox1344,
.squareBox1343,
.squareBox1282,
.squareBox1281 {
  background-color: $background-test;
}

.squareBox1220,
.squareBox1219,
.squareBox1158,
.squareBox1157 {
  background-color: $background-test;
}

.squareBox1096,
.squareBox1095,
.squareBox1034,
.squareBox1033 {
  background-color: $background-test;
}

.squareBox972,
.squareBox971,
.squareBox910,
.squareBox909 {
  background-color: $background-test;
}

.squareBox848,
.squareBox847,
.squareBox786,
.squareBox785 {
  background-color: $background-test;
}

.squareBox724,
.squareBox723,
.squareBox662,
.squareBox661 {
  background-color: $background-test;
}

.squareBox600,
.squareBox599,
.squareBox538,
.squareBox537 {
  background-color: $background-test;
}

.squareBox476,
.squareBox475,
.squareBox414,
.squareBox413 {
  background-color: $background-test;
}
//.................................................

.squareBox396,
.squareBox397,
.squareBox458,
.squareBox459 {
  background-color: $background-test;
}

.squareBox520,
.squareBox521,
.squareBox582,
.squareBox583 {
  background-color: $background-test;
}

.squareBox645,
.squareBox644,
.squareBox706,
.squareBox707 {
  background-color: $background-test;
}

.squareBox768,
.squareBox769,
.squareBox830,
.squareBox831 {
  background-color: $background-test;
}

.squareBox892,
.squareBox893,
.squareBox954,
.squareBox955 {
  background-color: $background-test;
}

.squareBox1016,
.squareBox1017,
.squareBox1078,
.squareBox1079 {
  background-color: $background-test;
}

.squareBox1140,
.squareBox1141,
.squareBox1202,
.squareBox1203 {
  background-color: $background-test;
}

.squareBox1264,
.squareBox1265,
.squareBox1326,
.squareBox1327 {
  background-color: $background-test;
}

.squareBox1388,
.squareBox1389,
.squareBox1450,
.squareBox1451 {
  background-color: $background-test;
}

.squareBox1512,
.squareBox1513,
.squareBox1574,
.squareBox1575 {
  background-color: $background-test;
}

.squareBox1636,
.squareBox1637,
.squareBox1698,
.squareBox1699,
.squareBox1700 {
  background-color: $background-test;
}

.squareBox1760,
.squareBox1761,
.squareBox1822,
.squareBox1823 {
  background-color: $background-test;
}

.squareBox1762,
.squareBox1763,
.squareBox1824,
.squareBox1825 {
  background-color: $background-test;
}

.squareBox1764,
.squareBox1765,
.squareBox1826,
.squareBox1827 {
  background-color: $background-test;
}

.squareBox1766,
.squareBox1767,
.squareBox1828,
.squareBox1829 {
  background-color: $background-test;
}

.squareBox1768,
.squareBox1769,
.squareBox1830,
.squareBox1831 {
  background-color: $background-test;
}

.squareBox1770,
.squareBox1771,
.squareBox1832,
.squareBox1833 {
  background-color: $background-test;
}
