body {
  background-color: rgb(253, 209, 234);
  display: flex;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
}

.square {
  background-color: rgb(255, 170, 244);
  width: 20px;
  height: 20px;
  margin: 2px;
  box-shadow: 0px 0px 4px;
  transition: 2s ease;
}
